global
    maxconn 4096
    daemon
    log /dev/log   local0
    log /dev/log   local1 notice
    user haproxy
    group haproxy
    tune.ssl.default-dh-param 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option http-server-close
    option httpclose
    option forwardfor except 127.0.0.0/8
    timeout http-request 15s
    timeout queue 10s
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    timeout http-keep-alive 10s
    timeout check 50s
    timeout tunnel 1h
    timeout client-fin 1s
    timeout server-fin 1s
    maxconn 30000

# ======================================================================
# Cấu hình trang thống kê (Stats Page) - Tùy chọn nhưng rất hữu ích
# ======================================================================
listen stats
    bind *:8404
    stats enable
    stats uri /haproxy?stats
    stats realm 'HAProxy Statistics'
    stats auth admin:quangich@2025

frontend http-in
    bind 0.0.0.0:80
    mode http

    # chuyển hướng TOÀN BỘ traffic HTTP sang HTTPS giữ nguyên cấu trúc URL
    http-request redirect scheme https code 301

frontend https-in
    bind *:443 ssl crt /etc/haproxy/certs/
    mode http
    option dontlognull
    option http-server-close

    option http-ignore-probes
    http-request del-header x-forwarded-for
        option forwardfor

    compression algo deflate gzip
        compression type text/ application/javascript application/xhtml+xml text/css

    # =============== Cấu hình domain ==============
    # ===== dev dạy thêm - học thêm (EMS) ====
    acl dtht_dev_api hdr_dom(host) -i dev-api-dtht.enetviet.com
    acl dtht_dev_cms hdr_dom(host) -i dev-cms-dtht.enetviet.com
    acl dtht_dev hdr_dom(host) -i dev-dtht.enetviet.com

    # ===== dev Thư viện(Library) ====
    acl lib_dev_api hdr_dom(host) -i api-be-test-vlib.enetviet.vn
    acl lib_dev_fe hdr_dom(host) -i api-fe-test-vlib.enetviet.vn
    acl lib_dev_web_cms hdr_dom(host) -i webcms-test-vlib.enetviet.vn
    acl lib_dev_web_home hdr_dom(host) -i webhome-vlib.enetviet.vn

    # ===== Product API Thư viện(Library) ====
    acl lib_api_be hdr(host) -i api-be.thuvien.edu.vn
    acl lib_api_fe hdr(host) -i api-fe.thuvien.edu.vn

    # ===== Product WEB CMS Thư viện(Library) ====
    acl lib_cms hdr(host) -i quantrithuvientruong.hcm.edu.vn quantri.thuvien.edu.vn admin2.thuvien.edu.vn admin.thuvien.edu.vn quantrithuvientruong.hanoi.edu.vn quantrithuviensgd.hanoi.edu.vn quantrithuvienpgd.hanoi.edu.vn quantrithuviensgd.hcm.edu.vn quantrithuvienpgd.hcm.edu.vn quantrithuviensgd.thuvien.edu.vn

    # ===== Product WEB FORNTEND Thư viện(Library) ====
    acl lib_fe hdr(host) -i thuvien.hanoi.edu.vn thuvienso.hcm.edu.vn sgddongnai.thuvien.edu.vn
    acl lib_fe_wild hdr_end(host) -i .hcm.edu.vn .thuvien.edu.vn .thuvien.hcm.edu.vn

    # ===== Product QLTB =====
    acl qltb_api hdr(host) -i api-pro.quanlythietbi.com.vn
    acl qltb_web hdr(host) -i quanlythietbi.com.vn


    # ===== Product EMS (Dạy thêm học thêm) =====
    acl ems_api hdr(host) -i apibe-dtht.enetviet.com
    acl ems_web_cms hdr(host) -i daythemhocthem.hcm.edu.vn
    acl ems_web_home hdr(host) -i dtht.hcm.edu.vn


    # =============== Cấu hình mapping frontend vào backend ==============

    # ===== EMS (dạy thêm - học thêm) ====
    use_backend dtht_dev_api_out if dtht_dev_api
    use_backend dtht_dev_cms_out if dtht_dev_cms
    use_backend dtht_dev_out if dtht_dev

    # ===== Thư viện(Library) ====
    use_backend lib_dev_api_out if lib_dev_api
    use_backend lib_dev_fe_out if lib_dev_fe
    use_backend lib_dev_web_cms_out if lib_dev_web_cms
    use_backend lib_dev_web_home_out if lib_dev_web_home

    # ===== Product API Thư viện(Library) ====
    use_backend lib_api_be_out if lib_api_be
    use_backend lib_api_fe_out if lib_api_fe

    # ===== Product CMS Thư viện(Library) ====
    use_backend lib_cms_out if lib_cms

    # ===== Product WEB FORNTEND Thư viện(Library) ====
    use_backend lib_fe_out if lib_fe or lib_fe_wild

    # ===== Product QLTB =====
    use_backend qltb_api_out if qltb_api
    use_backend qltb_web_out if qltb_web

    # ===== Product EMS (Dạy thêm học thêm) =====
    use_backend ems_api_out if ems_api
    use_backend ems_web_cms_out if ems_web_cms
    use_backend ems_web_home_out if ems_web_home


# ========================
# Cấu hình BACKEND
# ========================

#Cấu hình backend cho dạy thêm học thêm
backend dtht_dev_api_out
    balance roundrobin
    server dtht_dev_api_sv1 10.11.12.100:5110 check
    server dtht_dev_api_sv2 10.11.12.100:5111 check
backend dtht_dev_cms_out
    balance roundrobin
    server dtht_dev_cms_sv1 10.11.12.100:5700 check
    server dtht_dev_cms_sv2 10.11.12.100:5701 check
backend dtht_dev_out
    balance roundrobin
    server dtht_dev_sv1 10.11.12.100:5750 check
    server dtht_dev_sv2 10.11.12.100:5751 check

#Cấu hình backend cho Dev Thư viện 
backend lib_dev_api_out
    balance source
    server lib_dev_api_sv1 10.11.12.13:6672 check
    server lib_dev_api_sv2 10.11.12.13:6676 check
    server lib_dev_api_sv3 10.11.12.14:6672 check
    server lib_dev_api_sv4 10.11.12.14:6676 check

backend lib_dev_fe_out
    balance source
    server lib_dev_fe_sv1 10.11.12.13:6673 check
    server lib_dev_fe_sv2 10.11.12.13:6674 check
    server lib_dev_fe_sv3 10.11.12.13:6675 check
    server lib_dev_fe_sv4 10.11.12.14:6673 check
    server lib_dev_fe_sv5 10.11.12.14:6674 check
    server lib_dev_fe_sv6 10.11.12.14:6675 check

backend lib_dev_web_cms_out
    balance source
    server lib_dev_web_cms_sv1 10.11.12.13:9600 check
    server lib_dev_web_cms_sv2 10.11.12.13:9700 check
    server lib_dev_web_cms_sv3 10.11.12.14:9600 check
    server lib_dev_web_cms_sv4 10.11.12.14:9700 check

backend lib_dev_web_home_out
    balance source
    server lib_dev_web_home_sv1 10.11.12.13:9400 check
    server lib_dev_web_home_sv2 10.11.12.13:9500 check
    server lib_dev_web_home_sv3 10.11.12.14:9400 check
    server lib_dev_web_home_sv4 10.11.12.14:9500 check

#Cấu hình backend cho Product Thư viện 

backend lib_api_be_out
    balance roundrobin
    server s1 10.11.12.13:6672 check
    server s2 10.11.12.13:6676 check
    server s3 10.11.12.14:6672 check
    server s4 10.11.12.14:6676 check

backend lib_api_fe_out
    balance source
    server s1 10.11.12.13:6673 check
    server s2 10.11.12.13:6674 check
    server s3 10.11.12.13:6675 check
    server s4 10.11.12.14:6673 check
    server s5 10.11.12.14:6674 check
    server s6 10.11.12.14:6675 check

backend lib_cms_out
    balance source
    server s1 10.11.12.13:9600 check
    server s2 10.11.12.13:9700 check
    server s3 10.11.12.14:9600 check
    server s4 10.11.12.14:9700 check

backend lib_fe_out
    balance source
    server s1 10.11.12.13:9400 check
    server s2 10.11.12.13:9500 check
    server s3 10.11.12.14:9400 check
    server s4 10.11.12.14:9500 check

backend qltb_api_out
    balance source
    server s1 10.11.12.100:4001 check

backend qltb_web_out
    balance source
    server s1 10.11.12.100:4006 check

backend ems_api_out
    balance source
    server s1 10.11.12.100:5110 check
    server s2 10.11.12.100:5111 check

backend ems_web_cms_out
    balance source
    server s1 10.11.12.100:5700 check
    server s2 10.11.12.100:5701 check

backend ems_web_home_out
    balance source
    server s1 10.11.12.100:5750 check
    server s2 10.11.12.100:5751 check